.wrapper {
	width: 50%;
	display: flex;
	flex-direction: column;
	.upper {
		margin-bottom: 10px;
		.taskWrapper {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			.task {
				display: flex;
				align-items: center;
				gap: 10px;
				input {
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
				.cross {
					text-decoration: line-through;
				}
			}
			.icon {
				font-size: 18px;
				border: none;
				outline: none;
				background-color: #fff;
			}
		}
	}
	.lower {
		align-self: flex-end;
	}
}